<a href="https://colab.research.google.com/github/Szaboltz/data_science_ads/blob/master/series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# Criar a Series notas
grades = pd.Series([7.6, 5.8, 8.5, 9.5, 6.4])

# Criar a Series alunos
lst_registration = ['M02', 'M05', 'M13', 'M14', 'M19']
lst_names = ['Bob', 'Dayse', 'Bill', 'Cris', 'Jimi']
students = pd.Series(lst_names, index=lst_registration)

print(grades)
print('------------------------')
print(students)

0    7.6
1    5.8
2    8.5
3    9.5
4    6.4
dtype: float64
------------------------
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object

In [ ]:
# Criação de Series - Dicionario
dic_students = {'M02':'Bob', 'M05':'Dayse', 'M13':'Bill', 'M14':'Cris', 'M19':'Jimi'}
students2 = pd.Series(dic_students)
print(students2)

M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object

In [ ]:
# Propriedades básicas das Series
students = pd.Series({'M02':'Bob', 'M05':'Dayse', 'M13':'Bill', 'M14':'Cris', 'M19':'Jimi'})

# Atribuição de nomes para os vetores de dados e rótulos (indices)
students.name = "alunos"
students.index.name = "matricula"

print(students)

size = students.size
data = students.values
labels = students.index
students_type = type(students)
students_dtype = students.dtype
students_idx_dtype = students.index.dtype

print('numero de elementos: ', size)
print('vetor de dados: ', data)
print('vetor de rotulos: ', labels)
print('tipo (type): ', students_type)
print('dtype da series: ', students_dtype)
print('dtype do vetor e dados: ', students_idx_dtype)

matricula
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
Name: alunos, dtype: object
numero de elementos:  5
vetor de dados:  ['Bob' 'Dayse' 'Bill' 'Cris' 'Jimi']
vetor de rotulos:  Index(['M02', 'M05', 'M13', 'M14', 'M19'], dtype='object', name='matricula')
tipo (type):  <class 'pandas.core.series.Series'>
dtype da series:  object
dtype do vetor e dados:  object

In [ ]:
# Indexação booleano
# Obtém os indices dos alunos aprovados
idx_approved = grades[grades >= 7].index

#imprimi os alunos aprovados
print('Relação de alunos aprovados')
print('---------------------------')
#print(students[idx_approved])
print(students.iloc[idx_approved])

Relação de alunos aprovados
---------------------------
matricula
M02     Bob
M13    Bill
M14    Cris
Name: alunos, dtype: object

In [15]:
# Buscas em series

has_m13 = 'M13' in students
has_m99 = 'M99' in students
print('Existe o rotulo "M13": ', has_m13)
print('Existe o rotulo "M99": ', has_m99)

# esta se valor faz parte da Series
has_bob = students.isin(['Bob'])
print('Existe o valor "Bob"? ', has_bob)

has_bob = students.isin(['Cris'])
print('Existe o valor "Cris"? ', has_bob)

Existe o rotulo "M13":  True
Existe o rotulo "M99":  False
Existe o valor "Bob"?  matricula
M02     True
M05    False
M13    False
M14    False
M19    False
Name: alunos, dtype: bool
Existe o valor "Cris"?  matricula
M02    False
M05    False
M13    False
M14     True
M19    False
Name: alunos, dtype: bool

In [17]:
# Inserindo, alterando e removendo elementos de series


print('Series original')
print(students)

# Insert one tuent with code M55, Rakesh
students['M55'] = 'Rakesh'
print(students)

# Update names from bill, Cris and Jimi into Billy, Cristy and Jimy
students['M13'] = 'Billy'
students[['M14', 'M19']]  = ['Cristy', 'Jimy']

print(students)

# Remove the M02 Student (Bob)
students = students.drop('M02')

print(students)

Series original
matricula
M02       Bob
M05     Dayse
M13     Billy
M14    Cristy
M19      Jimy
M55    Rakesh
Name: alunos, dtype: object
matricula
M02       Bob
M05     Dayse
M13     Billy
M14    Cristy
M19      Jimy
M55    Rakesh
Name: alunos, dtype: object
matricula
M02       Bob
M05     Dayse
M13     Billy
M14    Cristy
M19      Jimy
M55    Rakesh
Name: alunos, dtype: object

In [ ]:
students = pd.Series({'M02':'Bob', 'M05':'Dayse', 'M13':'Bill', 'M14':'Cris', 'M19':'Jimi'})
print(students)

students.index = ['M91','M92', 'M93', 'M94', 'M95']
print(students)

In [ ]:
for student in students: print(student)

for position in students.index: print(position)

In [23]:
# Operações Aritméticas com computação vetorizada
#import pandas as pd
import numpy as np

# Cria as Series s1 e s2
s1 = pd.Series([2, 4, 6])
s2 = pd.Series([1, 3, 5])

print('s1 ')
print(s1)
print('s2 ')
print(s2)

print('s1 * s2')
print(s1 * s2)

print('s1 + s2')
print(s1 + s2)

print('s1 - s2')
print(s1 - s2)

print('s1 / s2')
print(s1 / s2)

print('s1 & s2')
print(s1 & s2)

print('s1 + s2')
print(np.sqrt(s1) + np.sqrt(s2))

s1
0    2
1    4
2    6
dtype: int64
s2
0    1
1    3
2    5
dtype: int64
s1 * s2
0     2
1    12
2    30
dtype: int64
s1 + s2
0     3
1     7
2    11
dtype: int64
s1 - s2
0    1
1    1
2    1
dtype: int64
s1 / s2
0    2.000000
1    1.333333
2    1.200000
dtype: float64
s1 & s2
0    0
1    0
2    4
dtype: int64
s1 + s2
0    2.414214
1    3.732051
2    4.685558
dtype: float64

In [32]:
# Valor NaN

green = pd.Series({'BR':1, 'FR':0, 'IT': 1, 'UK':0})
blue = pd.Series({'AR': 1, 'BR': 1, 'FR': 1, 'IT': 0, 'UK': 1})
total = green + blue
print("Soma")
print(total)
print('-------------------------')
print('isNull(total)')
print(pd.isnull(total))

Soma
AR    NaN
BR    2.0
FR    1.0
IT    1.0
UK    1.0
dtype: float64
-------------------------
isNull(total)
AR     True
BR    False
FR    False
IT    False
UK    False
dtype: bool

In [38]:
#Datetime

# Cria uma serie temporal

days = ['10/02/2019', '11/02/2019', '12/02/2019', '13/02/2019', '14/02/2019', '15/02/2019']
temp_max = [31, 35, 34, 28, 27, 27]
serie_temporal = pd.Series(temp_max, index=days)

serie_temporal.index = pd.to_datetime(serie_temporal.index, format='%d/%m/%Y')

print(serie_temporal)

2019-02-10    31
2019-02-11    35
2019-02-12    34
2019-02-13    28
2019-02-14    27
2019-02-15    27
dtype: int64

In [41]:
# hierarquia

money = ['Peso', 'Real', 'Euro', 'Libra']
countries = [[ 'America', 'America', 'Europa', 'Europa', 'Europa' ], ['AR', 'BR', 'FR', 'IT', 'UK']]

lst_countries = pd.Series(money, index=countries)
print(lst_countries)
print('--------------------------')
print(lst_countries['America'])
print('--------------------------')
print(lst_countries[:, 'IT'])
print('--------------------------')
print(lst_countries['Europa', 'IT'])

ValueError: Length of values (4) does not match length of index (5)